---
import BaseLayout from "../layouts/BaseLayout.astro"

import Github from "../icons/Github.astro"

import Header from "../components/Header.astro"
import LanguageList from "../components/LanguageList.astro"

interface Frontmatter {
  title: string
  github: string
  languages: string[]
  pics: string[]
}
const projects = await Astro.glob<Frontmatter>("./_projects/*.md")
---

<BaseLayout title="Projetos • Bruno Panizzi">
  <Header
    title="Projetos"
    description="Aqui estão alguns dos meus melhores projetos... E algumas coisas aleatórias também 😅"
  />

  <div class="space-y-6">
    {
      projects.map((project) => (
        <article class="col-span-2 grid grid-cols-5 grid-rows-[min] gap-2 overflow-hidden sm:grid-cols-2">
          <div class="col-span-3 space-y-2 sm:col-span-1">
            <header class="flex items-center gap-2 text-xl text-blue-100">
              <h3 class="font-mono font-semibold">
                {project.frontmatter.title}
              </h3>
              <a target="_blank" href={project.frontmatter.github}>
                <Github />
              </a>
            </header>
            <LanguageList langs={project.frontmatter.languages} />
            <div class="prose prose-sm dark:prose-invert sm:prose-base">
              <project.Content />
            </div>
          </div>
          <div class="col-span-2 sm:col-span-1">
            <div class="snap-x snap-mandatory space-x-1 overflow-hidden overflow-x-scroll whitespace-nowrap rounded sm:aspect-[14/16]">
              {project.frontmatter.pics.map((pic) => (
                <img
                  src={pic}
                  class="pointer-events-none inline-block h-full snap-center rounded-sm"
                />
              ))}
            </div>
          </div>
        </article>
      ))
    }
  </div>
</BaseLayout>
