---
interface Props {
  langs: string[]
  lg?: boolean
}

const { langs, lg } = Astro.props
---

<ul
  class:list={[
    "flex max-w-full gap-2 overflow-x-scroll",
    lg ? "text-base" : "text-sm",
  ]}
>
  {
    langs.map((t) => (
      <li class="w-max whitespace-nowrap rounded-sm bg-blue-900/50 px-1.5 py-0.5 text-blue-300">
        {t}
      </li>
    ))
  }
</ul>
